body {
    background-color: #b4a89c;
    margin: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

h1 {
    color: #9b1616;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
h2 {
    color: #455266;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

p {
    color: #314435;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    color:#314435;
    margin: 20px;
    padding: 40px;
    margin-bottom: 20px;
}
div{
    width: max-content;
    height: 10px;
    background-color: bisque;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 40px;
}
